html,
body {
  margin: 0;
  background: yellow;
  min-height: 100%;
}
.cat{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.face {
  position: absolute;
  margin: auto;
  background: #1b65b8;
  width: 350px;
  height: 300px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 40px black;
}

.ears {
  display: flex;
  align-items: stretch;
  gap: 30px;
  margin-top: -45px;
}

.ear1,
.ear2 {
  display: inline-block;
  height: 0;
  width: 0;
  border-right: 60px solid transparent;
  border-bottom: 100px solid black;
  border-left: 60px solid transparent;
  margin: auto;
  z-index: 0;
}

.ear1 {
  transform: rotate(-143deg);
}
.ear2 {
  transform: rotate(143deg);
}

.innerEar1,
.innerEar2 {
  z-index: 50;
  position: fixed;
  display: inline-block;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 50px solid #ba728b;
}

.innerEar1 {
  margin-left: -40px;
  margin-top: 33px;
}

.innerEar2 {
  margin-top: 37px;
  margin-left: -16px;
}

.eyes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}

.eye1,
.eye2 {
  background: #237e10;
  z-index: 50;
  width: 70px;
  height: 50px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px black;
}

.lashes,
.downlashes {
  width: 70px;
  height: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
  z-index: 0;
  position: absolute;
}
.lash1,
.lash2,
.lash3,
.lash4 {
  width: 2px;
  height: 15px;
  margin-top: -15px;
  border-radius: 15% 60% 35% 80%;
  background: black;
}

.pupil {
  background: black;
  margin: auto;
  height: 50px;
  width: 20px;
  border-radius: 100%;
}

.reflect {
  height: 7px;
  width: 7px;
  background: wheat;
  border-radius: -50%;
  float: right;
  margin-top: 12px;
  transform: rotate(135deg);
}
.eye1:hover,
.eye2:hover {
  visibility: collapse;
}

.dlash1,
.dlash2,
.dlash3,
.dlash4 {
  visibility: collapse;
  width: 2px;
  height: 15px;
  margin-top: 50px;
  border-radius: 15% 60% 35% 80%;
  background: black;
}

.eyelid,
.eyelidR {
  position: absolute;
  z-index: 0;
  width: 70px;
  height: 50px;
  box-shadow: inset 0px 0px 20px black;
  border-radius: 100%;
  border-bottom: 2px solid black;
}
.eyelid {
  margin-right: 120px;
}
.eyelidR {
  margin-left: 120px;
}

.nose {
  height: 0;
  width: 0;

  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom-width: 30px;
  border-bottom-style: solid;
  border-bottom-color: #ba728b;
  border-radius: 100%;
  margin: 25px auto auto auto;
  transform: rotate(180deg);
}

@keyframes pinchNose {
  from {
    border-bottom-color: #ba728b;
  }
  to {
    border-bottom-color: red;
  }
}

/* The element to apply the animation to */
.nose:hover {
  animation-name: pinchNose;
  animation-duration: 2s;
}

.nostrils {
  margin-left: -10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.nostril1,
.nostril2 {
  margin-top: 5px;
  height: 8px;
  width: 1.5px;
  background: black;
  border-radius: 80%95%15%30%;
}
.cheeksMouth {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.cheekL,
.cheekR {
  background: wheat;
  height: 100px;
  width: 120px;
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px black;
  border-bottom: 5px solid black;
}
.freckles {
  margin-left: 10px;
}
.freckle1,
.freckle2,
.freckle3 {
  height: 4px;
  width: 4px;
  background: black;
  border-radius: 100%;
}

.freckle1 {
  margin: 45px 70px 35px 35px;
}

.freckle2 {
  margin: -45px 35px 38px 45px;
}

.freckle3 {
  margin: -30px 40px 35px 55px;
}
.stachesL {
  width: 60px;
  height: 50px;
  margin-top: 30px;
  margin-left: -120px;
  position: fixed;
}

.stachesR {
  width: 60px;
  height: 50px;
  margin-top: 30px;
  margin-left: 80px;
  position: fixed;
}

.stache1,
.stache2,
.stache3 {
  width: 160px;
  height: 3px;
  background: black;
  box-shadow: inset 2px grey;
  margin-top: 8px;
  border-radius: 90% 0% 60% 15%;
}

.stacheR1,
.stacheR2,
.stacheR3 {
  width: 160px;
  height: 3px;
  background: black;
  box-shadow: inset 2px grey;
  margin-top: 8px;
  border-radius: 60% 15% 90% 0%;
}

.stache1,
.stacheR3 {
  transform: rotate(5deg);
}
.stache3,
.stacheR1 {
  transform: rotate(-5deg);
}

.stripes {
  position: absolute;
  display: flex;
  align-content: strecth;
  justify-content: center;
  gap: 200px;
  width: 350px;
  height: 200px;
  margin-top: 100px;
}

.stripe1,
.stripe2,
.stripe3,
.stripeR1,
.stripeR2,
.stripeR3 {
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 15px solid black;
  margin-top: 5px;
}
